.cart-dropdown {
    position: absolute;
    width: 280px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 90px;
    right: 40px;
    z-index: 5;
  
    .cart-items {
      height: 200px;
      display: flex;
      flex-direction: column;
      overflow: scroll;
    }

    .cart-items::-webkit-scrollbar {
      width: 10px;
    }
    
    .cart-items::-webkit-scrollbar-track {
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background: rgba(80, 80, 80, 1);
    }
  
    button {
      margin-top: auto;
    }
}

  